

<% @entry.each do |entry| %>
	<div class="post">
		  <h1>Feeds</h1>
	  <h1 class="title">  
	    <%= entry.title %>
	  </h1>

	  

	  <p>
	    <b>See the full aritcle @ 
	    <%= link_to entry.url, entry.url, :target => "_blank" %>
	    </b>
	  </p>

	  <p class="preview"> 
	    <%= entry.summary.sanitize! %>
	  </p>

	  <p>
	    <b>Date posted:</b>
	    <%= entry.published_at %>
	  </p>
  </div>
<% end %> 
<div class="paginate">
    <%= will_paginate @entry %>
</div>