
<div id="container">
  
  <div class="welcome">
    <h3> Read an Article - Get Smarter - Carry on </h3>
    <p>____________________________________________________________________________________________________________________________________
    </p>
  </div>

	<% @entries.each do |entry| %>

		<div class="post">
      <% if !entry.post %>
  		  <%= link_to 'Publish now!', publish_feed_path(entry), id: "publish_feed_entry_#{entry.id}", method: :post, format: :js, remote: true, :data => { :confirm => "Publish post now?" } %>
      <% else %>
        Published
		  <% end %>
		  <h1 class="title">  
		    <%= entry.title %>
		  </h1>

      <p class="author">
        <b>by:</b>
        <%= entry.author %>
      </p>
		  
		  <p>
		    <b>See the full aritcle @ 
		    	<%= link_to truncate("#{entry.url}", :length => 40), entry.url, :target => "_blank" %>
		    </b>
		  </p>

		  <p class="preview"> 
		    <%= raw entry.summary.sanitize! %>
		  </p>

		  <p>
		    <b>Date posted:</b>
		    <%= entry.published_at %>
		  </p>

      <div class="divimg"> 
        ___________________________________________________________ 
      </div> 
	  </div>
	<% end %> 

	<div class="paginate">
	  <%= will_paginate @entries %>
	</div>
</div>