<div class="container">
	<div class="welcome">
	  <h3> Web Development and Design - Personal Ramblings</br> & </br> The Generally Interesting </h3>
	  <p>____________________________________________________________________________________________________________________________________
	  </p>
	</div>

	<% @favorites.each do |favorite| %>
	  <div class="post" id="show_favorite_<%=favorite.id %>">

		  <h1 class="title">  
		    <%= favorite.post.title %>
		  </h1>

		  <p>
		    <b>by:</b>
		    <%= favorite.post.author %>
		  </p>

		  <p>
		    <b>See the full aritcle @ 
		    <%= link_to favorite.post.url, favorite.post.url, :target => "_blank" %>
		    </b>
		  </p>

		  <p class="preview"> 
		    <%= raw favorite.post.preview %>
		  </p>

		  <p>
		    <b>Date posted:</b>
		    <%= favorite.post.date_posted %>
		  </p>
		  <%= link_to 'Remove From My Reads', destroy_favorites_path(favorite), method: :delete, remote: true, format: :js, data: { confirm: 'Are you sure?' } %> 
		  <div class="divimg"> 
        <p>____________________________________________________________________________________________________________________________________
        </p>
      </div> 
	  </div>
  <% end %>
</div>

<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43221854-2', 'a-bloggregator.herokuapp.com');
  ga('send', 'pageview');

</script>

