<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :author %><br />
      <%= f.text_field :author %>
    </div>
    <div>
      <%= f.label :url %><br />
      <%= f.text_field :url %>
    </div>
    <div>
      <%= f.label :preview %><br />
      <%= f.text_area :preview %>
    </div>
    <div>
      <%= f.label :date_posted %><br />
      <%= f.date_select :date_posted %>
    </div>
    <div>
    <%= button_tag(type: 'submit', class: "btn") do %>
       Submit          
    <% end %>
  </div>
  </div>
<% end %>
