
<div id="container">
  <table class="table table-striped">

  <% @posts.each do |post| %>
    <div class="post">
    
      <h1 class="title">  
        <%= post.title %>
      </h1>

      <p>
        <b>by:</b>
        <%= post.author %>
      </p>

      <p>
        <b>See the full aritcle @ 
        <%= link_to post.url, post.url, :target => "_blank" %>
        </b>
      </p>

      <p class="preview"> 
        <%= post.preview %>
      </p>

      <p>
        <b>Date posted:</b>
        <%= post.date_posted %>

        <% if current_user.try(:admin?) %>
          
          <%= link_to 'Edit', edit_post_path(post) %> 
        <% end %>
        
        <h3> ____________________________ </h3>
      </p>
    </div>
  <% end %>
  </table>
</div>