
<div id="container">
  <div class="welcome">
    <h3> Read an Article - Get Smarter - Carry on </h3>
    <p>____________________________________________________________________________________________________________________________________
    </p>
  </div>

  <!-- Listing the posts -->
  <% @posts.each do |post| %>
    <div class="post" data-id="<%=post.id%>" >
   
      <h1 class="title" >  
        <%= post.title %>
      </h1>
      
      <% if post.author.present? %>
        <p class="author">
          <b>by:</b>
          <%= post.author %>
        </p>
      <% end %>

      <% if post.url.present? %>
        <p>
          <b>See the full aritcle @ 
          <%= link_to truncate("#{post.url}", :length => 40), post.url, :target => "_blank" %>
          </b>
        </p>
      <% end %>

      <p class="preview"> 
        <%= raw post.preview %>
      </p>

      <p>
        <b>Date posted:</b>
        <%= post.date_posted %>
      </p>

      <!-- if user signed in Add post to favorite reads -->
      <% if current_user %>
        <% if current_user.favorites.collect(&:post_id).include? post.id %>
          <div class="inreads">
            <p><b>In My Reads</b></p>
          </div>
        <% elsif %>
          <%= link_to favorite_post_path(post), :method => :post, :remote => true, class: "btn btn-link", "data-post-id" => post.id, format: :js do %>
            <i class="icon-plus-sign icon-white icon-2x"></i>
          <% end %>
          
          <div class="inreads" style="display:none">
            <p><b>In My Reads</b></p>
          </div>
        <% end %>
      <!-- If not signed in, ask to register -->
      <% else %>
        <div class="registernow">
          <b><%= link_to 'Register now to add this post to your reading list', new_user_registration_path %></b>
        </div>
      <% end %> 
  
      <!-- if current user admin alow to edit -->
      <% if current_user.try(:admin?) %>
        <%= link_to 'Edit', edit_post_path(post) %>           
      <% end %>
      <div class="divimg"> 
        <p>____________________________________________________________________________________________________________________________________
        </p>
      </div> 
    </div>   
  <% end %>
  <div class="paginate">
    <%= will_paginate @posts %>
  </div>
</div>

