<p id="notice"><%= notice %></p>
<div class="post">
  
  <h1 class="title">
    <%= raw @post.title %>
  </h1>

  <p>
    <b>by:</b>
    <%= raw @post.author %>
  </p>

  <% if @post.url.present? %>
    <p>
      <b>See the full aritcle @ 
        <%= link_to truncate("#{post.url}", :length => 40), post.url, :target => "_blank" %>
      </b>
    </p>
  <% end %>

  <p class="preview">  
    <%= raw @post.preview %>
  </p>

  <p>
    <b>Date posted:</b>
    <%= @post.date_posted %>
  </p>


  <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>

  <%= link_to 'Back', posts_path %>
</div>