	<!DOCTYPE html>
<html>
<head>
  <title>Bloggregator</title>
  
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  

  
</head>
<body>
	<div id="container">
		<nav class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
		    <div class="nav left">
		      <a class="brand" href="/"><h4>Bloggregator</h4></a>
		    </div>
	      <ul class="nav right">					
	      	<li> <%= link_to 'Home', posts_path %></li>
	        <% if current_user.present? %>
	        <%# user is logged in, show log out link, user tasks, create new task %>
	          <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
	          <li><%= link_to 'My Reads', favorites_path %>
	        <%# user is not logged in, show signup and login links %>
	        <% else %>
	          <li><%= link_to 'Sign In', new_user_session_path %></li> 
	          <li><%= link_to 'Register Now!', new_user_registration_path %></li>
	        <% end %>
	        <!-- Allow only admin to create new post -->
		      <% if current_user.try(:admin?) %>
		        <li><%= link_to 'New Post', new_post_path %></li>
		     <% end %>
	      </ul>
	    </div>
	  </nav>
  </div>
	<div class="container">
	  <%= yield %>
	</div>

  <footer class="row" id="footer">
    <div class="content">
      <p>________________________________________</p>
      <p>Built with <i class="icon-heart"></i> in Austin, Tx by Jason Watson
      </p>
    </div>
  </footer>
  <!-- Google analytics -->
  <%= render :partial => ‘layouts/ga’ if RAILS_ENV == ‘production’ %>
</body>
</html>


